*{
  margin: 0;
  padding: 0;
  background-color: black;
}

header{
  color: aliceblue;
}
header div{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}
header div img{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 34px;
  border-radius: 3.4rem;
}

body nav{
  display: inline-flex;
}


body nav menu header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body nav menu header img{
  display: left;
  height: 50px;
  margin: 1rem;
  border-radius: 1rem;
}

body header div{
  display: flex;
  align-items: center;
  text-align: center;
  
}
 body header div ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  text-decoration: dashed;
  margin-left: 3rem;
  margin-left: 30rem;
}

body header div ul li{
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: dashed;
  margin-left: 5rem;
  text-decoration: dotted;
}

hr{
  margin-top: 2rem;
}
div p{
  margin-top: 2rem;
  color: white;
  font-size: 20px;
}
body header div ul li a{
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: dashed;
  margin-left: 3rem;
  color:yellow;
  font-size: 20px;
}

body header div ul li a:hover{
  display: flex;
  align-items: center;
  text-align: left;
  text-decoration: dashed;
  margin-left: 3rem;
  color:blue;
  font-size: 20px;
  transition: .3s ease-in-out;
  text-decoration: underline;

}
.cc{
  width: 55rem;
}